.container {
  margin: 50px auto 0px auto;
  width: 100%;
  max-width: 1200px;
  height: calc(100% - 130px);
 
}
.cs-message-list,
.cs-main-container,
.cs-chat-container,
.cs-message-input {
  background-color: #303030 !important;
  border: none !important;
}
.cs-chat-container .cs-message-input {
  border: none !important;
}
.cs-message__content {
  background-color: #3cacf2 !important;
}
.cs-message-input__content-editor-wrapper,
.cs-message-input__content-editor {
  background-color: #717171 !important;
  color: white !important;
  font-weight: 200;
  font-size: 1em !important;
  font-family: Monospace !important;
}
.cs-message__content {
  color: white !important;
  font-weight: 300;
  font-size: 1em !important;
  font-family: Monospace !important;
}
.cs-message-list .cs-typing-indicator {
  background-color: #303030 !important;
  margin-left: 15px !important;
}
.cs-typing-indicator__text {
  color: #1da1f2 !important;
}
.cs-typing-indicator__dot {
  background-color: #1da1f2 !important;
}

.cs-message--outgoing .cs-message__content {
  border-radius: 0.7em !important;
}

.cs-message__content-wrapper {
  margin-top: 15px !important;
}
svg:not(:root).svg-inline--fa {
  color: white !important;
}
.cs-chat-container .cs-message-input {
  margin-bottom: 10px;
}
